.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.img-box img{
    width: 100%;
}

.dashboard-menu{
    background-color: var(--container);
    width:260px;
    height: 100vh;
    padding: 20px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
    
    
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2{
    font-size: 20px;
    
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
    color: black;
    opacity: 60%; 
}

ul li a:hover, .active{
    background-color:aqua;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 100%;    
}
.log-out a{
    background-color: #a00;
    border-radius: 8px;
    opacity: 100%;
}
.log-out a:hover{
    background-color: #a00;
}

ul label a i{
    font-size: 20px;

}

#dash-content{
    width: 100%;
    border-radius: 8px;
    margin: 10px;
    background-color: var(--container);
    overflow-y: scroll;
    padding: 20px;
    
}
.title-info{
    background-color:white;
    
}
.title-info p{
    color: black;
    height: 40px;
    font-size: 30px;
    padding-bottom: none;
    padding-left: 10px;

}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    
}
.data-info .box{
    background-color: white;
    border-style: solid;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    color: black;
    border: var(--border) solid 1px;
}
.data-info i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border:solid;
    background-color: #f5f5f5;
    border-radius: 50%;
    color:#aaa;
}
#dash-content .boxe{
    display: flex;
    background-color: white;
    height: 200px;
    border-radius: 8px;
    height: 290px;
    align-items: start;
    justify-content:top;
    margin: 5px;
    padding-left: 20px;
    color: black;
    border: var(--border) solid 1px;

}

table{
    width: 100%;
    overflow-x: auto;
}
.table{
    border-collapse: collapse;
    min-width: 600px;
    color: black;
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}
td,th{
    padding: 10px;
    text-align: center;
    border: 1px solid var(--border);
    background-color: white;
    height: 50px;
    
}
th{
  
    background-color: aqua;
}
#dash-content .title-info .moniteur{
    font-size: 15px;
    margin-top: 0;
    opacity: 60%;
    
}
#dash-content .title {
    display: flex;
    justify-content: space-between;
}
button{
    width: 100px;
    height: 40px;
    margin-top:20px ;
    margin-right: 20px;
    
}

.table{
    border: var(--border) solid 1px;
    border-radius: 8px;
    margin: 10px;
    flex-wrap: wrap;
}
.data p{
    margin: 10px;
    margin-top: 0;
}
#chartContainer {
    width: 90vw; 
    height: 80vh; 
}

#myChart {
    width: 100% ;
    height: 100% ;
}
.mainmenu{
    margin-top: 11px;
    opacity: 60%;
}


/*tableorder*/
.ordertable{
   margin-top: 10px;
   margin-right: 0;
    text-align: center;
    border-collapse: collapse;
    width:100vh;
    border-spacing: 8px;
    flex-wrap: wrap;
    width: 100%;
}
.content-section {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.content-section:target {
    display: block;
    opacity: 1;
    visibility: visible;
    position: relative;
}


body:not(:has(:target)) #dash-content {
    display: block;
    opacity: 1;
    visibility: visible;
    position: relative;
}