.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.img-box img{
    width: 100%;
}

.dashboard-menu{
    background-color: var(--container);
    width:260px;
    height: 100vh;
    padding: 20px;
}

ul{
    list-style: none;
    position: relative;
    height: 95%;    
}

.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile h2{
    font-size: 20px;
    
}

ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
    color: var(--txt-black);
    opacity: 60%; 
    cursor: pointer;
}

ul li a:hover, .active{
    background-color:var(--border-low);
}

.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 100%;    
}

.log-out a{
    color: #a00;
    border-radius: 8px;
    opacity: 100%;
}
.log-out a:hover{
   color: #a00;
}

ul label a i{
    font-size: 20px;

}

.dashboard-menu ul li{
    cursor: pointer;
}

#dash-content{
    width: 100%;
    border-radius: 8px;
    margin: 10px;
    background-color: var(--container);
    overflow-y: scroll;
    padding: 20px;
}

.title-info p{
    color: var(--txt-black);
    height: 40px;
    font-size: 30px;
    padding-bottom: none;
    padding-left: 10px;

}

.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    
}

.data-info .box{
    background-color: var(--bg-lower);
    border-style: solid;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    color: var(--text);
    border: 1px solid var(--border-low);
}

.data-info i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border:solid;
    background-color: transparent;
    border-radius: 50%;
    color:var(--border);
}

#dash-content .boxe{
    display: flex;
    background-color: var(--container);
    height: 200px;
    border-radius: 8px;
    height: 290px;
    align-items: start;
    justify-content:top;
    margin: 5px;
    padding-left: 20px;
    color: var(--text);
    border: 1px solid var(--border-low);

}

.table{
    width: 100%;
    overflow-x: auto;
}

table{
    border-collapse: collapse;
    min-width: 600px;
    color: var(--text);
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}

td,
th{
    padding: 10px;
    text-align: left;
    border: 1px solid var(--border-low);
    background-color: var(--bg-lower);
    height: 50px;
}

th{
    background-color: var(--border);
}

#dash-content .title-info .moniteur{
    font-size: 15px;
    margin-top: 0;
    opacity: 60%;    
}

#dash-content .title {
    display: flex;
    justify-content: space-between;
}

button{
    width: 100px;
    height: 40px;
    margin-top:20px ;
    margin-right: 20px;
}

.table{
    border: var(--border-low) solid 1px;
    border-radius: 8px;
    margin: 10px;
    flex-wrap: wrap;
}

.data p{
    margin: 10px;
    margin-top: 0;
}

#chartContainer {
    width: 90vw; 
    height: 80vh; 
}

#myChart {
    width: 100% ;
    height: 100% ;
}

.content-section {
    display: none;
}

.dashboard-menu ul li a.active {
    font-weight: bold;
}