*{
    padding: 0;
    margin: 0;
    font-family: cairo;
}
body{
    background-color: white;
}
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.img-box img{
    width: 100%;
}

.menu{
    background-color: white;
    width:260px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
    
    
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2{
    font-size: 20px;
    
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
    color: black;
    opacity: 60%; 
}

ul li a:hover{
    background-color:aqua;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: #a00;
}
ul li a i{
    font-size: 20px;

}
.content{
    width: 100%;
    border: #a00 solid 1px;
    border-radius: 8px;
    margin: 10px;
    
}
.title-info{
    background-color:white;
    
}
.title-info p{
    color: black;
    height: 40px;
    font-size: 30px;
    padding-bottom: none;
    padding-left: 10px;

}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    
}
.data-info .box{
    background-color: white;
    border-style: solid;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    color: black;
}

.content .boxe{
    display: flex;
    background-color: white;
    border: solid;
    height: 200px;
    border-radius: 8px;
    height: 290px;
    align-items: start;
    justify-content:top;
    margin: 5px;
    padding-left: 20px;
    color: black;
}
.content{
    background-color: white;
    overflow-y: scroll;
}
table{
    color: black;
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}
td,th{
    background-color: #123;
    height: 50px;
    border-radius: 8px;
}
th{
  
    background-color: aqua;
}
.content .title-info .moniteur{
    font-size: 15px;
    margin-top: 0;
    opacity: 60%;
    
}
.content .title {
    display: flex;
    justify-content: space-between;
}
button{
    width: 100px;
    height: 40px;
    margin-top:20px ;
    margin-right: 20px;
}



