:root{
  --nav-height: 10vh;
  --doc-padding: 20vh;
}

.main-navigator{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  padding: 0 var(--doc-padding);
  position: fixed;
  z-index: 5;
}

.nav-links{
  height: 100%;
  align-items: center;
}

.nav-elements{
  list-style: none;
  height: 100%;
  align-items: center;
}

.nav-element{
  margin: 0 10px;
  cursor: pointer;
}

.nav-element a{
  color: var(--text);
  text-decoration: none;
  font-size: var(--font-sml);
  font-weight: 600;
}

.account{
  margin: 0 10px;
  border-radius: 15px;
  padding: 5px 15px;
  background-color: black;
  color: white;
}

.main-doc{
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.doc-section{
  width: 100%;
  height: 100vh;
  padding-top: var(--nav-height);
  border: 2px solid blue;
}

.about-content{
  width: 80%;
  height: calc(100% - 100px);
}

#aboutSection > .flex-col{
  height: fit-content;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.car-image{
  width: 50%;
  overflow: visible;
  position: relative;
}

.map-img{
  position: fixed;
  width: 30vw;
  height: auto;
  top: 40%;
  left: 90%;
  transform: translate(-50%, -50%) ;
}

.cars-logo{
  margin-top: var(--nav-height);
  width: 100%;
  height: 120px;
  overflow-x: auto;
  overflow-y: visible;
  align-items: center;
  z-index: 2;
}

.cl-container{
  width: fit-content;
  list-style: none;
}

.car-logo{
  width: 100px;
  height: 100px;
  margin: 0 10px;
  overflow: hidden;
  border-radius: 10px;
  padding: 15px;
  filter: grayscale(1);
  cursor: pointer;
}

.car-logo-selected,
.car-logo:hover{
  border: 1px solid var(--border);
  filter: none;
}

.car-logo img{
  width: 100%;
}

.car-svg{
  position: absolute;
  top: 100%;
  left: 20%;
  transform: translateY(-65%);
  height: auto;
  width: 70vw;
}

@keyframes wheel {
  0%{
    transform: rotateZ(0deg);
  }

  50%{
    transform: rotateZ(-360deg);
  }

  100%{
    transform: rotateZ(-360deg);
  }
}

@keyframes car {
  0%{
    left: 100%;
  }

  50%{
    left: 20%;
  }

  100%{
    left: 20%;
  }
}

.blk-txt span{
 line-height: 1.2;
}

.about-desc{
  font-size: var(--font-sml);
  color: var(--text);
  margin-top: 20px;
  line-height: 1.5;
  max-width: 50%;
}

.phones-container,
.app-desc{
  position: relative;
  height: 100%;
  width: 50%;
}

.desc{
  margin: auto;
  width: 80%;
}

.app-but{
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 8px 20px;
  margin-top: 20px;
  margin-left: 15px;
}

.phone-frame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame1{
  top: 40%;
  left: 40%;
  rotate: -20deg;
}

.frame2{
  rotate: 10deg;
  left: 50%;
  top: 45%;
}