:root{
    /*colors*/
    --dark-bg: #0E1621;
    --bg: #f0eded;
    --bg-darker: #eae4e4;
    --bg-low: #17212B;
    --bg-lower: #242F3D;
    --container: white;
    --text: #333;
    --text-low: #3333334b;
    --txt-black: black;
    --border: rgba(129, 129, 129, 0.418);
    --border-low: rgba(129, 129, 129, 0.171);
    --input: rgb(235, 235, 235);
    --color-main: #2d60c6; 
    --color-second: #3cb8a7;
    /*-----*/

    /*fonts*/
    --font-med: 0.9rem;
    --font-sml: 0.8rem;
    --font-lrg: 1.4rem;
    /*----*/

    /*       dementions        */
    --input-height-mid: 45px;
    --input-height-sml: 40px;
    /*-------------------------*/
}

@font-face {
    font-family: poppins;
    src: url(../fonts/poppins.ttf);
}
@font-face {
    font-family: poppinsB;
    src: url(../fonts/Poppins-Black.ttf);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: poppins;
    line-height: auto;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg);
}

ul{
    list-style: none;
}

h1,h2,
h3,h4,
h5,h6,
p,span{
    cursor: default;
}

::-webkit-scrollbar{
    width: 0px;
    z-index: -1;
}

/*display*/

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

/*-------------------------*/

.hover-scale:hover{
    transform: scale(1.03);
}


/*      Text         */

.drk-txt{
    color: var(--text);
}

.blg-txt{
    color: var(--txt-black);
}

.title-min,
.title-min span{
    font-size: 0.9rem;
    font-weight: 600;
}

.low-text-sml,
.low-text-sml span{
    font-size: var(--font-mid);
    color: var(--text-low);
}

.title-xlarge,
.title-xlarge span{
    font-family: poppinsB; 
    font-size: 4rem;
    font-weight: bolder;
}

.title-large,
.title-large span{
    font-family: poppinsB; 
    font-size: 2.5rem;
    font-weight: bolder;
}

.para-mid,
.para-mid span{
    font-size: 0.9rem;
    color: var(--text);
}


/*--------------------*/

/*          buttons           */

.bt{
    border: none;
    background-color: transparent;
    font-size: var(--font-med);
    cursor: pointer;
}

.bt-hover:hover{
    opacity: 0.8;
    transform: scale(1.02);
    transition: ease 0.3s;
}

.bt-Primary{
    color: white;
    background-color: var(--color-main);
}

/*----------------------------*/

/*              Inputs             */

input:focus,
textarea:focus{
    outline: none;
}

.input-holder{
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: var(--input-height-mid);
    width: fit-content;
    border: 1px solid var(--border);
    border-radius: 8px;
    padding-left: 10px;
    margin: 5px 0;
}

.input-holder > input{
    border: none;
    height: 100%;
    padding: 5px 15px;
    font-size: var(--font-med);
    width: calc(100% - 15px);
    margin-left: 5px;
    outline: none;
    color: var(--text);
}

.input-holder > i{
    font-size: var(--font-med);
    opacity: 70%;
    padding-left: 5px;
    color: var(--text);
}

.label-important{
    position: relative;
}

.label-important::after{
    content: "*";
    color: rgb(168, 68, 64);
    top: 0;
    left: calc(100% + 5px);
    position: absolute;
    font-size: 0.8rem;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(1) contrast(20%);
    opacity: 0.7;
    cursor: pointer;
    font-size: var(--font-sml);
    padding: 0 5px;
}


/*---------------------------------*/
